.node {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  vertical-align: middle;
}

.node:hover {
  background-color: #f0f0f0;
}

.node.placed {
  cursor: default;
}
.node.placed:hover {
  background-color: #fff;
}

.bst-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bst-node {
  margin: 10px;
  text-align: center;
}

.bst-slot {
  padding: 5px;
  border: 2px dashed #ccc;
  min-width: 50px;
  min-height: 30px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.bst-children {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.highlight {
  border-color: #4caf50;
}

.dragging {
  opacity: 0.5;
}

.node-pool {
  display: inline-block;
  justify-content: center;
}

.correct-tree .bst-node {
  pointer-events: none;
}
