.node-tree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.node-tree {
  margin: 20px 0;
}

.node-value {
  font-weight: bold;
  text-align: center;
}

.node-children {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.node-child {
  margin: 0 10px;
}
