.cell {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell.disabled {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  /* background-color: #f6f6f6; */
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  /* opacity: 0.7; */
  box-shadow: none;
}

.cell.highlight {
  background-color: lightgreen;
  border-color: green;
  border-width: 2px;
}

.cell input {
  border: none;
  text-align: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell.disabled input {
  cursor: not-allowed;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input {
    -moz-appearance: textfield;
    appearance: textfield;
    width: 50px;
    transition: width 0.2s ease-in-out;
}

.input-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.number-input.filled {
  width: 20px;
}

.number-input.filled.highlight {
  background-color: lightgreen;
}