body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

nav {
  background-color: #333;
  position: relative;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  padding: 1em;
  display: block;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #575757;
}

main {
  padding: 1em;
}

footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Responsive styling */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding-bottom: 1em;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(9px, 9px);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -9px);
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #333;
  }

  nav ul.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

.tree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tree-node-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tree-node {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tree-node:hover {
  background-color: #f0f0f0;
}

.tree-children {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* .tree-children::before, .tree-children::after {
  content: '';
  position: absolute;
  width: 50%;
  top: -20px;
  border-top: 1px solid #ccc;
} */

.tree-children::before {
  left: 0;
  border-right: 1px solid #ccc;
}

.tree-children::after {
  right: 0;
  border-left: 1px solid #ccc;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.styled-button {
  background-color: #575757; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #ccc;
}